<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= book.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="whole-book-record">
    <div class="book-body">
    <h1><i><%= book.title %></i>, <%= book.author %></h1>
    <%# I'd like to add conditional logic to NOT show image placeholder if no value was entered into the form or no src is present %>
    <img src="<%=book.image%>" alt="<%=book.title%> cover image" width="200">
    <h3><%= book.publisher %>, <%= book.year %></h3>
    <p><%= book.details %></p>
    </div>

    <div class="column">
        <div class="action-wrapper">
        <button class="book-btn"><a href="/books/<%= book._id %>/edit">Edit details</a></button>
        <form action="/books/<%=book._id%>?_method=DELETE" method="POST">
          <button class="book-btn" type="submit">Remove</button>
        </form>
    </div>
        <a href="/books">Back to your shelf</a>
    </div>

</div>
</body>
</html>